EyouSoft.Web/Web References/ShopUserRegisterService/UserReg.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InserUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPassWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserEmall" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserUserResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InserUserSoapIn">
    <wsdl:part name="parameters" element="tns:InserUser" />
  </wsdl:message>
  <wsdl:message name="InserUserSoapOut">
    <wsdl:part name="parameters" element="tns:InserUserResponse" />
  </wsdl:message>
  <wsdl:portType name="UserRegSoap">
    <wsdl:operation name="InserUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">用户添加</wsdl:documentation>
      <wsdl:input message="tns:InserUserSoapIn" />
      <wsdl:output message="tns:InserUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserRegSoap" type="tns:UserRegSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserUser">
      <soap:operation soapAction="http://tempuri.org/InserUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserRegSoap12" type="tns:UserRegSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserUser">
      <soap12:operation soapAction="http://tempuri.org/InserUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserReg">
    <wsdl:port name="UserRegSoap" binding="tns:UserRegSoap">
      <soap:address location="http://shop.4000571780.com/webservice/UserReg.asmx" />
    </wsdl:port>
    <wsdl:port name="UserRegSoap12" binding="tns:UserRegSoap12">
      <soap12:address location="http://shop.4000571780.com/webservice/UserReg.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>